@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #a8dbd2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.svg-invisible {
  display: block;
  transition: all 500ms ease-in;
  opacity: 0;
}

.opacity {
  opacity: 1;
  animation: 550ms linear;
}

@keyframes hover-ani {

  0% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}

@keyframes hover-ani-float {

  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}

.hover-ani:hover, .hover-ani:focus, .hover-ani:active {
  -webkit-animation-name: hover-ani-float, hover-ani;
  animation-name: hover-ani-float, hover-ani;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
